



<footer class="footer" style="background-color: #ebebeb ">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="~/Home/index">
                            <img src="~/Images/Untitled-1.png" alt="logostore" style="height:70px;width:50px">
                            <h3 style="font-style:initial ;display:inline-block">TPhoneS</h3>
                        </a>
                    </div>
                    <p style="margin-left:-20px">
                        Cửa Hàng Điện Thoại Uy Tín Số 1 VN <br />
                    </p>


                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="footer__widget">
                    <div style="margin-left:80px">
                        <a href="~/Home/index">
                            <h6>Trang Chủ</h6>
                        </a>
                        <ul>
                            <li><a href="~/Shop/Index">Các sản phẩm</a></li>
                            <li><a href="~/ThongBao/TimKiemDonDatHang">Tìm kiếm đơn hàng</a></li>
                            <li><a href="~/Home/LienHe">Liên Hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <div style="margin-left:50px">
                        <h6>Tài Khoản</h6>
                        <ul>
                            <li><a href="~/Login/Index">Đăng Nhập</a></li>
                            <li><a href="~/Login/Register">Đăng Ký</a></li>
                            <li><a href="~/GioHang/show">Giỏ hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__widget">
                    <div style="margin-left:100px">
                        <h6>Giảng viên hướng dẫn</h6>
                        <ul>
                            <li>ThS. Trịnh Đồng Thạch Trúc</li>
                            </br>
                            <h6>Sinh Viên Thực Hiện</h6>
                            <li>Tên: Huỳnh Vĩnh Tiến</li>
                            <li>MSSV: 2011061897</li>
                            <li>Lớp: 20DTHB2</li>
                        </ul>
                    </div>                   
                </div>
            </div>
            <div class="col-lg-12">
                <div class="footer__widget" style="text-align:center">
                    <h6>TPhoneS - Mạng Xã Hội</h6>

                    <div style="margin-left: 60px; margin-left:-3px">
                        <a href="https://www.facebook.com/vinhtien.huynh.77/" class="button">
                            <img style="width: 40px; margin-top: 20px; margin-right: 20px"
                                 src="~/Images/2021_Facebook_icon.svg.png" />
                        </a>
                        <a href="https://www.messenger.com/t/vinhtien.huynh.77/" class="button">
                            <img style="width: 40px; margin-top: 20px; margin-right: 20px"
                                 src="~/Images/Facebook_Messenger_logo_2020.svg.png" />
                        </a>
                        <a href="https://www.instagram.com/thegioididong.official/" class="button">
                            <img style="width: 40px; margin-top: 20px; margin-right: 20px"
                                 src="~/Images/900px-Instagram_icon.png" />
                        </a>
                        <a href="http://zalo.me/0931103224" class="button">
                            <img style="width: 40px; margin-top: 20px; margin-right: 20px"
                                 src="~/Images/Icon_of_Zalo.svg.png" />
                        </a>
                        <a href="https://tinyurl.com/2p95p9kt"
                           target="_blank" rel="noopener" aria-label="youtube">
                            <i class="icon-youtube"></i>
                            <img style="width: 40px; margin-top: 20px; margin-right: 20px"
                                 src="~/Images/free-youtube-logo-icon-2431-thumb87fd555bdf412bdf.png" />
                        </a>
                        <a href="https://goo.gl/maps/m7YAQCzTEc7DXmQS6" target="_blank" rel="noopener" aria-label="address">
                            <i class="icon-address"></i>
                            <img style="width: 40px;margin-top: 20px;margin-right: 20px"
                                 src="~/Images/google-map-icon.png" />
                        </a>

                        <a href="https://shopee.vn/apple_flagship_store" target="_blank" rel="nofollow noopener">
                            <img style="width: 40px; margin-top: 20px;"
                                 src="~/Images/pngwing.com (1).png" />
                        </a>

                    </div>
                    </div>
            </div>

            <div class="col-lg-12">
                <div class="footer__widget" style="text-align:center">
                    <h6>Đồ án cơ sở</h6>
                    <!--<p>
                        Copyright ©
                        <script>document.write(new Date().getFullYear());</script> | Đồ án được thực hiện bởi Huỳnh Vĩnh Tiến
                    </p>-->
                    <p>
                        Copyright ©
                        <script>document.write(new Date().getFullYear());</script> | Đồ án được thực hiện bởi
                        <span><a href="https://www.facebook.com/vinhtien.huynh.77" target="_blank">Huỳnh Vĩnh Tiến</a></span>
                    </p>
                </div>
            </div>

        </div>

    </div>
</footer>

