@using WebBanDoDienTu.Models;
@{
    ViewBag.Title = "LienHe";
    List<MatHang> banner = ViewBag.banner;
    List<MatHang> newProduct = ViewBag.newProduct;
    Page.Title = "title";

}
<div class="categories__text">
    <h4 style="color:deepskyblue;margin-left:630px;margin-top:20px"> TPhoneS - Liên Hệ</h4>
</div>
<img src=~/Images/product-overview-hisense-smartphone-kv.h60-5g.png alt="hinh thumbnail" width="1200" height="400" style="margin-left: 150px; margin-top: 20px" />

<div class="lienhe">
    <p>
        </br>
        <strong style="margin-left:150px">Địa chỉ:</strong>&nbsp;273 Đ.3 Tháng 2, Phường 06, Quận 11, TP.HCM<br>
        <strong style="margin-left:150px">Điện thoại:</strong>&nbsp;093.110.3224<br>
        <strong style="margin-left:150px">Email:</strong>&nbsp;dmx031117@gmail.com<br>
        <strong style="margin-left:150px">Thời gian làm việc:</strong>&nbsp;Tất cả các ngày trong tuần<br>
        </br>
    </p>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125429.78533833988!2d106.58146673619915!3d10.759065948708937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e8d5fa46ef7%3A0xb7829cb17887315d!2zU2nDqnUgdGjhu4sgxJFp4buHbiB0aG_huqFpIFRo4bq_IEdp4bubaSBEaSDEkOG7mW5n!5e0!3m2!1svi!2s!4v1684377655826!5m2!1svi!2s" width="1200" height="450" style="border:0;margin-left:150px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
